:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
	background-image: url(./assets/svg/microsoftbg.png);
	background-repeat: no-repeat;
	background-size: cover;
}
